# Скомпилированные файлы
*.exe
*.o
*.obj
*.dll
*.lib

# Файлы IDE (VS Code, и т.п.)
.vscode/
.idea/

# Временные файлы
*.tmp
*.log

# Скомпилированные бинарные файлы Raylib (если вы их скопировали в проект)
raylib.dll